<%= render 'pages/home' unless user_signed_in? %>
<% if user_signed_in? %>
<div id="username">
	<%= image_tag(current_user.avatar.url(:thumb), class: "img-thumbnail") %>
	<%= current_user.name %>
</div>

<% end %>
<br>
<div id="pins" class="transitions-enabled">
	<% @pins.each do |pin| %>
		<div class="box panel panel-default">
      		<%= image_tag pin.image.url(:medium) %>
      		<div id="pinBoard" class="panel-body">
        	<%= pin.description %><br/>
        	<strong><%= pin.user.name if pin.user %></strong>
        	       	
          	<div class="actions">
          		<% if pin.user == current_user %>
   					<%= link_to edit_pin_path(pin) do %><span class="glyphicon glyphicon-edit"></span> Edit
        			<% end %>
          			<%= link_to pin, method: :delete, data: { confirm: 'Are you sure?' } do %><span class="glyphicon glyphicon-trash"></span> Delete
            		<% end %>
            	<% end %>
            		<br>
            		<% if user_signed_in? %>
            		<% url = pin.image.url(:medium)%>
            		<%= link_to new_pin_comment_path(pin) do %><span class="glyphicon glyphicon-comment"></span> Comment
            		<% end %>
            		<% end %>
          	</div>
        	
        	<br>
             <% @comments = pin.comments %>
             <% @comments.each do |comment|%>
             <blockquote>
             	<div id="userDets">
             	<%= image_tag(comment.user.avatar.url(:thumb), class: "img-thumbnail") %>
             	<%= comment.user.name %><br>
            	</div>
            	<%= comment.text %>
             </blockquote>
             <br>
             <% end %>

      		</div>
  			</div>
	<% end %>
</div>


<div class="center">
   <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
</div>

